requests
haversine
httplib2
-e git://github.com/pchampin/hydra-py.git#egg=hydra
-e git+https://github.com/HTTP-APIs/hydrus.git#egg=hydrus
git+https://github.com/HTTP-APIs/hydra-python-core@v0.1#egg=hydra_python_core
